body {
  padding: 0;
  margin: 0;
}

.page3_ice_cream {
  width: 100vw;
  height: 100vh;
  position: relative;
}

main {
  position: absolute;
  top: 0;
  padding: 0 2rem;
}

h1 {
  font-size: 1.5rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.detail {
  background-color: rgba(255, 255, 255, 0.63);
  display: flex;

  height: 3.5rem;
  text-align: center;
  border-right: 1px solid black;
}

.detail:not(:last-child) {
  margin-bottom: 1rem;
}

h1 {
  color: white;
}

h4 {
  border-right: 3px solid black;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
}

p {
  padding-top: 1rem;
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.chevron-back-outline {
  position: absolute;
  top: 85%;
  left: 90%;
  width: 6rem;
  height: 6rem;
  color: white;
  cursor: pointer;
  background-color: red;
}

.chevron-forward-outline {
  position: absolute;
  top: 60%;
  left: 90%;
  width: 6rem;
  height: 6rem;
  color: white;
  cursor: pointer;
  background-color: red;
}

@media screen and (max-width: 890px) {
  .chevron-back-outline,
  .chevron-forward-outline {
    top: 102%;
  }

  .chevron-back-outline {
    left: 70%;
  }

  .chevron-forward-outline {
    left: 85%;
  }
}

@media screen and (max-width: 750px) {
  .detail > h4 {
    font-size: 0.8rem;
  }
  .detail > p {
    padding-top: 1rem;
    font-size: 0.8rem;
  }

  .chevron-back-outline {
    width: 3rem;
    height: 3rem;
  }

  .chevron-forward-outline {
    width: 3rem;
    height: 3rem;
    left: 80%;
  }
}

@media screen and (max-width: 610px) {
  .detail > h4 {
    font-size: 0.6rem;
  }
  .detail > p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 385px) {
  .detail > h4 {
    font-size: 0.5rem;
  }
  .detail > p {
    font-size: 0.5rem;
  }
}
